flows (1).json
[{"id":"636bee89.cb9ee","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f02ba9e3.a78478","type":"ui_form","z":"636bee89.cb9ee","name":"","label":"","group":"f88985ff.e78a18","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":200,"wires":[["b99c806.ab89a8"]]},{"id":"b99c806.ab89a8","type":"function","z":"636bee89.cb9ee","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["89b23e7.49e48c","3a107587.9c066a"]]},{"id":"89b23e7.49e48c","type":"watson-conversation-v1","z":"636bee89.cb9ee","name":"","workspaceid":"7969ab17-3167-4618-b7c8-44cc5076f6a3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1d61ac63-5149-4482-a4bd-c6c0100fd509","timeout":"","optout-learning":false,"x":420,"y":360,"wires":[["8689c14e.f78a9","292df855.34f668"]]},{"id":"292df855.34f668","type":"function","z":"636bee89.cb9ee","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["8689c14e.f78a9","f5e5b4b4.8dcef8","c9eb700.d95659","93456b4c.042188"]]},{"id":"8689c14e.f78a9","type":"debug","z":"636bee89.cb9ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":420,"wires":[]},{"id":"f5e5b4b4.8dcef8","type":"ui_template","z":"636bee89.cb9ee","group":"f88985ff.e78a18","name":"","order":5,"width":"6","height":"5","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":200,"wires":[[]]},{"id":"c9eb700.d95659","type":"ui_audio","z":"636bee89.cb9ee","name":"","group":"f88985ff.e78a18","voice":"de-DE","always":"","x":780,"y":340,"wires":[]},{"id":"3a107587.9c066a","type":"ui_text","z":"636bee89.cb9ee","group":"f88985ff.e78a18","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":260,"y":520,"wires":[]},{"id":"93456b4c.042188","type":"ui_text","z":"636bee89.cb9ee","group":"f88985ff.e78a18","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":420,"wires":[]},{"id":"f88985ff.e78a18","type":"ui_group","z":"","name":"UI","tab":"f969f4c5.1e3af8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f969f4c5.1e3af8","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]